
body{
  width: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(110, 110, 110, 0.226);
    padding: 3px;
    width: 100%;
  }
  
  .navButtons {
    display: flex;
  }
  
  .navButton {
    background-color: rgba(0, 0, 0, 0.1) ;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-right: 0px;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    font-weight: bold;
    transition: background-color 1s, box-shadow 1s;
  }
  
  .navButton:hover {
    background-color: rgba(7, 219, 35, 0.685);
  }
  
  .searchBar {
    display: flex;
    align-items: center;
  }
  

  