.cardscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 1rem;
    border: black 2px solid;
    border-radius: 15px;
  }