/* Estilos para el container principal */



.container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  height: 100%;
  top: 0;
  left: 0;
}
/* Estilos para el contenedor de las tarjetas */


/* Estilos para los botones */

.buttons {
  position:flex;
  padding-top: 6rem;
  height: auto;
  width: calc(8vw - 1vw);
  left: 0.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start; /* O ajusta según la dirección deseada */
  gap: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
}

/* Estilos para los botones individuales */
.buttons button {
  background-color: rgba(102, 100, 100, 0.623);
  border: none;
  cursor: pointer;  
  padding: 2%;
  position: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(8vw - 1vw);
  height: 3vh;
  margin-bottom: 0px;
  gap: 2%;
  animation: slideIn 1.5s ease-out;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(255, 255, 255);
}

@keyframes slideIn {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}



/* Estilos para el hover de los botones */
.buttons button:hover {
  background-color: #03fd5670;
  transform: scale(1.1);
  display: flex;
  justify-content: center;
}
.dropdownContent{
  margin: 0%;
}

.dropdownContent button{
  background-color: rgba(83, 83, 83, 0.459);
  animation: slideIn 1s ease-out;
}

.img1 {
  position: absolute;
  max-width: 15vw;
  max-height: 15vw;
  width: auto;
  height: auto;
  z-index: -1;
  left: 15%;
  top: -1%;
}

.img1 img {
  width: 100%;
  height: auto;
}

.img2 {
  position: absolute;
  max-width: 15vw;
  max-height: 15vw;
  width: auto;
  height: auto;
  z-index: -1;
  bottom: -18%;
  right: 2%;
}

.img2 img {
  width: 100%;
  height: auto;
}

.img3 {
  position: absolute;
  max-width: 15vw;
  max-height: 15vw;
  width: auto;
  height: auto;
  z-index: -1;
  right: 15%;
  top: 3%;
}

.img3 img {
  width: 100%;
  height: auto;
}

.img4 {
  position: absolute;
  max-width: 20vw;
  max-height: 20vw;
  width: auto;
  height: auto;
  z-index: -1;
  left: 20%;
  top: 40%;
}

.img4 img {
  width: 100%;
  height: auto;
}

.img5 {
  position: absolute;
  max-width: 15vw;
  max-height: 15vw;
  width: auto;
  height: auto;
  z-index: -1;
  right: 30%;
  top: 35%;
}

.img5 img {
  width: 100%;
  height: auto;
}