


  .card {
    --blur: 16px;
    --size: clamp(10vw, 50vmin, 20vw); /* Utiliza vw para las dimensiones */
    border: 2px solid;
    border-color: rgba(53, 51, 51, 0.445);
    width: 90%; /* Ajusta el ancho al 90% del contenedor */
    max-width: var(--size); /* Establece el tamaño máximo */
    width: var(--size);
    aspect-ratio: 5 / 3;
    position: relative;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    transform: translateZ(0);
    animation: alumbra-border 2s infinite;
  }
  
  @keyframes alumbra-border {
    0% {
      border-color: rgba(7, 255, 7, 0.418);
      transform: rotate(0)
    }
    50% {
      border-color: rgb(26, 27, 18);
      transform: rotate(180)
    }
    100% {
      border-color: rgba(0, 255, 0, 0.644);
      transform: rotate(360)
    }
  }


  .card .image-container {
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1.2 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

.card footer{
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    background: hsla(0, 8%, 21%, 0.5);
    backdrop-filter: blur(var(--blur));
    gap: 0.5ch;
    height: 30%;
    justify-content: space-evenly;
    align-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height:0.25;
}


.landing a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
 
  
  .card footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
  }
  
  .card footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
  }
  
  .card:is(:hover, :focus-visible) {
    --hover: 1;
  }
