
.landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden; /* Oculta el contenido que se desborde */
    white-space: nowrap;
    align-items: flex-end;
  
}


.img1{
    position:fixed;
    bottom: -1%;
    right: 65%;
    max-width: 90vw;
    max-height: 90vh;
    width: auto; /* Permite que el ancho se ajuste automáticamente dentro del límite máximo */
    height: auto; /* Permite que la altura se ajuste automáticamente dentro del límite máximo */
}
.img1 img {
  width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.img2{
    position:fixed;
    bottom: -1%;
    left: 71%;
    max-width: 90vw;
    max-height: 90vh;
    width: auto; /* Permite que el ancho se ajuste automáticamente dentro del límite máximo */
    height: auto; /* Permite que la altura se ajuste automáticamente dentro del límite máximo */
}
.img2 img {
  width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.img3{
    max-width: 11vw; /* Establece el ancho máximo permitido */
    max-height: 11vh; /* Establece la altura máxima permitida */
    width: auto; /* Permite que el ancho se ajuste automáticamente dentro del límite máximo */
    height: auto; /* Permite que la altura se ajuste automáticamente dentro del límite máximo */
    position: fixed;
    top: 1%;
    left: 50%;
}
.img3 img {
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }

  .landing button {
    position: absolute;
    background-color: rgba(12, 236, 12, 0.397);
    top: 40%;
    left: 45%;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    border: none;
    font-size: 3rem;
    z-index: 1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-shadow: 0 0 15px rgba(17, 243, 9, 0.788), 0 0 5px rgba(47, 136, 44, 0.788);
  }

  .landing button:hover {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.landing a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  